@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FinkHeavy-Regular';
    src: url('/fonts/FinkHeavy-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'Technology-Bold';
    src: url('/fonts/Technology-Bold.ttf') format('opentype');
}

@font-face {
    font-family: 'Ms-Sans';
    src: url('/fonts/MS-Sans.ttf') format('opentype');
}

@font-face {
    font-family: 'Ms-Sans-Bold';
    src: url('/fonts/MS-Sans-bold.ttf') format('opentype');
}

.terminal-glow {
    text-shadow:
        0 0 5px rgba(0, 255, 0, 0.75),
        0 0 10px rgba(0, 255, 0, 0.75),
        0 0 20px rgba(0, 255, 0, 0.75),
        0 0 40px rgba(0, 255, 0, 0.75);
}

/* Adding animation to make the invert-filter class pulse on and off */
@keyframes pulse {
    0% {
        filter: invert(0);
    }
    50% {
        filter: invert(1);
    }
}

.invert-filter {
    animation: pulse 0.5s infinite;
}

